#articles-show {

  .published-at {
    margin-top: -20px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 14px;
    color: $MUTED_TEXT_COLOR;
  }

  #disqus_thread {
    border-top: solid 1px $BORDER_COLOR;
    margin-top: 60px;
    padding-top: 60px;
  }

}
