#articles-show {

  .published-at {
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
  }

  #disqus_thread {
    border-top: solid 2px #cce77a;
    margin-top: 60px;
    padding-top: 60px;
  }

}
