.site-footer {
  background-color: $FOOTER_COLOR;
}

.site-footer .follow-me {
  margin: 60px 0 0;
  padding: 20px 0;
  text-align: center;
  color: $FOOTER_TEXT_COLOR;
  font-size: 14px;
  a {
    color: inherit;
    font-weight: bold;
  }
}
