body {
  border-top: solid 10px $BORDER_COLOR;
  font-family: $FONT_FAMILY_BASE;
  background-color: $BACKGROUND_COLOR;
  background: inline-image("inline/background.png") repeat;
}

.site-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
