$nprogress-color: #0F324B;

$BORDER_COLOR: #87AA1E !default;
$BACKGROUND_COLOR: #F0F0F0 !default;
$FOOTER_COLOR: #0F324B !default;

$TEXT_COLOR: #444 !default;
$STRONG_TEXT_COLOR: #87AA1E !default;

$FOOTER_TEXT_COLOR: #87AA1E !default;

$FONT-FAMILY_BASE: Menlo, Monaco, Consolas, "Courier New", monospace !default;

$FONT_FAMILY_SANS_SERIF: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$FONT_FAMILY_MONOSPACE: Menlo, Monaco, Consolas, "Courier New", monospace !default;
