@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

h1, h2 {
  font-family: $FONT_FAMILY_BASE;
  text-align: center;
}

h1 {
  color: $TEXT_COLOR;
  font-size: 60px;
  font-weight: 700;
}

h2 {
  color: $MUTED_TEXT_COLOR;
  font-size: 30px;
  font-weight: 300;
}

p {
  margin: 30px 0;
  color: $TEXT_COLOR;
  font-size: 18px;
  font-weight: 300;
}

a {
  color: $LINK_COLOR;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
